# Виртуальное окружение
venv/
env/
ENV/
env.bak/
venv.bak/

# Файлы IDE
.vscode/
.idea/
*.iml

# Файлы Python (временные и кэш)
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы, создаваемые операционной системой
.DS_Store
Thumbs.db

# Логи и базы данных
*.log
*.db
*.sqlite3
